<section class="py-5">
    <div class="container">
      <h2 class="text-center fw-bold text-brand-blue-dark mb-4">Tentang Kami</h2>
  
      <div class="card bg-brand-cream shadow-lg p-4 p-md-5">
        <div class="row align-items-center">
  
          <div class="col-md-6">
            <p class="small text-brand-pink fw-semibold">Sejak 1994</p>
            <h3 class="fw-bold">Homemade, Fresh, dan Premium</h3>
            <p style="text-align: justify">
              Panti Sehat Kang Trisno berdiri sejak 2018 dan menyediakan berbagai layanan terapi.
            </p>
  
            <a href="https://wa.me/6281244357053"
               class="btn bg-brand-pink text-brand-dark px-4 py-2 mt-4 shadow">
              Hubungi Kami
            </a>
          </div>
  
          <div class="col-md-6 mt-4 mt-md-0">
            <img src="../assets/image/about.jpg" class="img-fluid rounded shadow-lg" />
          </div>
  
        </div>
      </div>
    </div>
  </section>
  